* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

*, ::before, ::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: rgb(24, 24, 24);
    overflow-x: hidden;
}

.app-main {
    width: 100%;
    height: 100vh;
}